.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(118, 118, 118, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2f363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav__link {
  position: relative;
}

.nav__notification-dot {
  color: tomato;
  font-size: 60px;
  position: absolute;
  top: -65px;
  left: 25px;
}
